html{
    background-color: aqua;
}

#parallel{
    width: 100px;
	height: 50px;
	transform: skew(20deg);
	background: #7b8edc;
}

#trapezoid{
    border-bottom: 50px solid #6c72bb;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}

#oval{
   height: 50px;
   width: 100px;
   background-color: #454dbe;
   border-radius: 50%;
} 

#square{
    height: 50px;
    width: 50px;
    background-color: #a5b4e1;
}
